body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 300px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #c04c4c;
	color: rgb(251, 255, 0);
	font-size: 2em;
}

.sidebar {
	grid-area: sidebar;
	padding:10px;
	background-color:green;
	color: skyblue;
}

.content {
	grid-area: content;
	background-color:lightsalmon;
	color: rgb(251, 255, 0);
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(0, 162, 255);
	color:white
}